
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #206691;
    color: white;
    text-align: center;
    font-size: 20px;
}

#profile-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 20%;
  border-radius: 50%;
  border-style: dashed;
}
#text {
    padding: 10%;
}
svg {
    margin: 15px;
}
svg:hover{
    width: 40px;
    height: 40px;
}
#cv{
    color: white;
}
#cv:hover{
    font-size: 25px;
    color: white;
}
.card-group{
    color: black;
    border-radius: 5%;
}
.card{
    border-color: black;
    margin: 10px;
}
hr {
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #206691;
    background-color:#206691; /* Modern Browsers */
}